<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <!-- style sheet for python highlight class="syntax" -->
    
    <!-- Mathjax support -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

  </head>
  <body>
    <nav>
      <ul>
	<li><a href="/">Home</a></li>
	<li><a href="/about">About</a></li>
	<li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
    <div class="container">
      {{ content }}
    </div><!-- ./containter -->
    <footer>
      <ul>
	<li><a href="https://github.com/danieljtait">github.com/danieljtait</a></li>
    </footer>
  </body>
</html>
